<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>Virus Analyzer</title>
</head>
<body>
<p>Click on the "Choose File" button to upload a file:</p>

<form id="file_form" enctype="multipart/form-data" method="post">
  <input type="file" id="myFile" name="filename">
  <input type="submit" onclick="SendFile()">
</form>

<canvas id="myChart" style="width:100%;max-width:600px"></canvas>
<script>
        function SendFile() {
   alert("Submit button clicked!");
   const fileInput = document.getElementById('myFile');
   const file = fileInput.files[0];
   const formData = new FormData();
   formData.append('file', file);
   fetch('/upload', {
    method: 'POST',
    body: formData
  })
  .then(response => response.text())
  .then(data => {
    // Handle the response from the Python app
    console.log(data);
  })
  .catch(error => {
    // Handle any errors
    console.error(error);
  });
}
    var xValues = ["Malicious", "Undetected"];
var yValues = [{{ Malicious }}, {{ Undetected }}];
var barColors = [
  "#b91d47",
  "#1e7145"
];

new Chart("myChart", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Virus Skoru"
    }
  }
});
</script>
<script src="{{ url_for('static', filename= 'script.js') }}"></script>
</body>
</html>